*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* .card {
	--width: 15em;
  --height: calc(var(--width) * 1.4);
  --numberTop: 0px;
  --numberLeft: calc(var(--width) / 100);
  --suitTop: calc(var(--width) / 20);
  --suitLeft: calc(var(--width) / 150);
  width: var(--width);
  height: var(--height);
  background-color: white;
  padding: calc(var(--width) / 9);
  display: grid;
  grid-template-columns: repeat(3, calc(100% * (1 / 3)));
  grid-template-rows: repeat(8, calc(100% * (1 / 8)));
  text-align: center;
  align-items: center;
  border-radius: .5em;
  position: relative;
  border-width: 1px;
  border-style: solid;
}

.heart, .diamond > div {
  color: red;
}

.spade, .club > div{
  color: black;
}

.spade > div::after {
  content: "\2660";
}

.club > div::after {
  content: "\2663";
}

.heart > div::after {
  content: "\2665";
}

.diamond > div::after {
  content: "\2666";
}
.card > div {
  font-size: calc(3 * var(--width) / 10);
}

.card::before {
  font-size: calc(3 * var(--width) / 20);
  content: attr(data-number);
  position: absolute;
  top: var(--numberTop);
  left: var(--numberLeft);
}

.card::after {
  font-size: calc(3 * var(--width) / 20);
  content: attr(data-number);
  position: absolute;
  bottom: var(--numberTop);
  right: var(--numberLeft);
  transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1)
}

Flip suit symbols
.card[data-number="2"] div:nth-last-child(-n + 1),
.card[data-number="3"] div:nth-last-child(-n + 1),
.card[data-number="4"] div:nth-last-child(-n + 2),
.card[data-number="5"] div:nth-last-child(-n + 2),
.card[data-number="6"] div:nth-last-child(-n + 2),
.card[data-number="7"] div:nth-last-child(-n + 3),
.card[data-number="8"] div:nth-last-child(-n + 3),
.card[data-number="9"] div:nth-last-child(-n + 4),
.card[data-number="10"] div:nth-last-child(-n + 5) {
  transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1)
}


Row 1
Left
.card[data-number="4"] div:nth-child(1),
.card[data-number="5"] div:nth-child(1),
.card[data-number="6"] div:nth-child(1),
.card[data-number="7"] div:nth-child(1),
.card[data-number="8"] div:nth-child(1),
.card[data-number="9"] div:nth-child(1),
.card[data-number="10"] div:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

Middle
.card[data-number="2"] div:nth-child(1),
.card[data-number="3"] div:nth-child(1) {
  grid-area: 1 / 2 / 3 / 3;
}

Right
.card[data-number="4"] div:nth-child(2),
.card[data-number="5"] div:nth-child(2),
.card[data-number="6"] div:nth-child(2),
.card[data-number="7"] div:nth-child(2),
.card[data-number="8"] div:nth-child(2),
.card[data-number="9"] div:nth-child(2),
.card[data-number="10"] div:nth-child(2) {
  grid-area: 1 / 3 / 3 / 4;
}

Row 2
Middle
.card[data-number="8"] div:nth-child(3),
.card[data-number="10"] div:nth-child(3) {
  grid-area: 2 / 2 / 4 / 3;
}

Row 3
Left
.card[data-number="9"] div:nth-child(3),
.card[data-number="10"] div:nth-child(4) {
  grid-area: 3 / 1 / 5 / 2;
}

Right
.card[data-number="9"] div:nth-child(4),
.card[data-number="10"] div:nth-child(5) {
  grid-area: 3 / 3 / 5 / 4;
}

Row 4
Left
.card[data-number="6"] div:nth-child(3),
.card[data-number="7"] div:nth-child(3),
.card[data-number="8"] div:nth-child(4) {
  grid-area: 4 / 1 / 6 / 2;
}

Middle
.card[data-number="3"] div:nth-child(2),
.card[data-number="5"] div:nth-child(3),
.card[data-number="9"] div:nth-child(5) {
  grid-area: 4 / 2 / 6 / 3;
}

Right
.card[data-number="6"] div:nth-child(4),
.card[data-number="7"] div:nth-child(4),
.card[data-number="8"] div:nth-child(5) {
  grid-area: 4 / 3 / 6 / 4;
}

Row 5
Left
.card[data-number="9"] div:nth-child(6),
.card[data-number="10"] div:nth-child(6) {
  grid-area: 5 / 1 / 7 / 2;
}

Middle
.card[data-number="7"] div:nth-child(5) {
  grid-area: 5 / 2 / 7 / 3;
}

Right
.card[data-number="9"] div:nth-child(7),
.card[data-number="10"] div:nth-child(7) {
  grid-area: 5 / 3 / 7 / 4;
}

Row 6
Middle
.card[data-number="8"] div:nth-child(6),
.card[data-number="10"] div:nth-child(8) {
  grid-area: 6 / 2 / 8 / 3;
}


Row 7
Left
.card[data-number="4"] div:nth-child(3),
.card[data-number="5"] div:nth-child(4),
.card[data-number="6"] div:nth-child(5),
.card[data-number="7"] div:nth-child(6),
.card[data-number="8"] div:nth-child(7),
.card[data-number="9"] div:nth-child(8),
.card[data-number="10"] div:nth-child(9) {
  grid-area: 7 / 1 / 9 / 2;
}

Middle
.card[data-number="2"] div:nth-child(2),
.card[data-number="3"] div:nth-child(3) {
  grid-area: 7 / 2 / 9 / 3;
}

Left
.card[data-number="4"] div:nth-child(4),
.card[data-number="5"] div:nth-child(5),
.card[data-number="6"] div:nth-child(6),
.card[data-number="7"] div:nth-child(7),
.card[data-number="8"] div:nth-child(8),
.card[data-number="9"] div:nth-child(9),
.card[data-number="10"] div:nth-child(10) {
  grid-area: 7 / 3 / 9 / 4;
} */